name: Proxy Updater

on:
  schedule:
    - cron: "0 */1 * * *"

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v3

      - run: rm *.txt -rfv
      - name: start proxy scraper
        run: |
          cd .github/workflows
          npm ci
          node index.js
      - name: generating README.md
        run: |
          echo -e "<div align=\"center\">\n" > README.md
          echo -e "# proxy-list\n" >> README.md
          echo -e "  [![iNitialM503 - proxy-list](https://img.shields.io/static/v1?label=iNitialM503&message=proxy-list&color=blue&logo=github)](https://github.com/iNitialM503/proxy-list \"Go to GitHub repo\")" >> README.md
          echo -e "  [![stars - proxy-list](https://img.shields.io/github/stars/iNitialM503/proxy-list?style=social)](https://github.com/iNitialM503/proxy-list)" >> README.md
          echo -e "  [![forks - proxy-list](https://img.shields.io/github/forks/iNitialM503/proxy-list?style=social)](https://github.com/iNitialM503/proxy-list)\n" >> README.md

          echo -e "  [![Proxy Updater](https://github.com/iNitialM503/proxy-list/workflows/Proxy%20Updater/badge.svg)](https://github.com/iNitialM503/proxy-list/actions?query=workflow:\"Proxy+Updater\")" >> README.md
          echo -e "  ![GitHub repo size](https://img.shields.io/github/repo-size/iNitialM503/proxy-list)" >> README.md
          echo -e "  [![GitHub commit activity](https://img.shields.io/github/commit-activity/m/iNitialM503/proxy-list?logo=commits)](https://github.com/iNitialM503/proxy-list/commits/master)" >> README.md

          echo -e "\n</div>\n" >> README.md

          echo -e "  Public repository for fetch proxy.\n" >> README.md
          echo -e "  - **total proxy:** ±$(cat all.txt | wc -l)" >> README.md
          echo -e "  - **last updated:** $(TZ=Asia/Jakarta date +'%a, %d %b %y %T %Z')\n" >> README.md

          echo -e "# Download" >> README.md
          echo -e "  Copy and paste one of the codes below into the terminal" >> README.md

          for file in *.txt;
          do
            echo -e "  - **$(echo $file | cut -d'.' -f1 | tr 'a-z' 'A-Z')** ($(cat $file | wc -l))" >> README.md
            echo -e "    \`\`\`bash" >> README.md
            echo -e "    curl https://raw.githubusercontent.com/iNitialM503/proxy-list/master/$file -o $file" >> README.md
            echo -e "    \`\`\`" >> README.md
          done

          echo -e "\n# TODO" >> README.md
          echo -e "  - [x] delete folder *csv/*" >> README.md
          echo -e "  - [x] sort proxy into 3 parts, HTTP/SOCKS4/SOCKS5" >> README.md
          echo -e "  - [ ] check whether the proxy is working or not" >> README.md

          echo -e "\n# Note" >> README.md
          echo -e "> Don't forget to give ⭐ and keep *fork* and *follow* too if necessary" >> README.md

      - name: start commit
        run: |
          git config --local user.name ${{ secrets.name }}
          git config --local user.email ${{ secrets.email }}
          git status
          git add *.txt README.md
          git commit -m "update: $(cat all.txt | wc -l) proxies"
      - name: push changes
        uses: ad-m/github-push-action@master
        with: 
         github_token: ${{ secrets.TOKEN }}
         force: true
